@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100%;
    width:100%;
    position:fixed;
        background-image: url(images/subtle_carbon.png);

}
.tagline{
    color:#fff;
    text-align: center;
    font-size: 40px;
}
.menuBox {
    border: solid 1px;
    text-align: center;
    height: 20%;
    display: inline-block;
    border-radius: 29px;
    cursor: pointer;
    margin:10px;
}
ul.navigationHeader {
    width: 100%;
    text-align: center;
}
li.menuTab {
    display: inline;
    border: solid #272727 .5px;
    padding: 10px 39px;
    margin: 0;
    background: #1d1c1c;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px;
}

li.menuTab:hover {
    background: #bdb9b98a;
    border: #bdb9b9 solid .5px;
}
body > div > ul > li > a {
    color: #fff;
    text-shadow: 1px 1px #000;
}
a{
    color: #06a9dc;
}
div#wrapboxes {
    text-align: center;
    padding: 11% 0px;
}
div#aboutMe {
background: radial-gradient(circle, rgba(252,70,107,1) 0%,  rgba(0,0,0,1) 100%);
}

div#projects {
background: radial-gradient(circle, rgba(117,247,239,1) 0%,rgba(0,0,0,1) 100%);
}

div#contact {
background: radial-gradient(circle, rgba(219,114,242,1) 0%, rgba(0,0,0,1) 100%);
}
div#aboutMe:hover {
background: radial-gradient(circle, rgba(227,7,7) 0%,  rgba(0,0,0,1) 100%);
}

div#projects:hover {
background: radial-gradient(circle, rgba(114,242,139) 0%,rgba(0,0,0,1) 100%);
}

div#contact:hover {
background: radial-gradient(circle, rgba(247,117,117,1) 0%, rgba(0,0,0,1) 100%);
}
.menuBox > h1{
    color:#fff;
    margin:0 auto;
    padding:100px;
}
#wrapBoxes{
    text-align: center;
}

/*contactUS*/
div#contactForm {
    border: solid;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #00c7ff;
    border-radius: 39px;
    padding: 60px 90px;
}
